In [125]:
import pandas as pd
import examen
import examen.cargar_datos as cd
import examen.validar_datos as vd
import examen.perfil_datos as ped
import examen.analiticas as an
from IPython.display import display
from importlib import reload

pd.set_option('display.max_colwidth', None)

cd, vd, ped, an = map(reload, (cd, vd, ped, an))

## Extracción

Se crearon dos módulos dentro del paquete `examen`:
- `cargar_datos.py`: carga de tablas desde el archivo .zip ubicado en `data/` (sin extraer a disco).
- `validar_datos.py`: validación simple comparando pares CSV vs XLSX.

Tras generar reportes completos de diferencias (NaN-safe) para los pares disponibles, se decidió
utilizar los archivos CSV como fuente principal para uniones (joins) y pasos posteriores,
manteniendo los XLSX como referencia.

In [126]:
dfs = cd.cargar_dfs_desde_zip_en_data()
list(dfs.keys())

Leyendo datos/parking.csv -> key=parking_csv
Leyendo datos/usercuisine.csv -> key=usercuisine_csv
Leyendo datos/restaurants.xlsx -> key=restaurants_xlsx
Leyendo datos/users.xlsx -> key=users_xlsx
Leyendo datos/restaurants.csv -> key=restaurants_csv
Leyendo datos/cuisine.csv -> key=cuisine_csv
Leyendo datos/users.csv -> key=users_csv
Leyendo datos/ratings.csv -> key=ratings_csv
Leyendo datos/hours.csv -> key=hours_csv
Leyendo datos/userpayment.csv -> key=userpayment_csv
Leyendo datos/payment_methods.csv -> key=payment_methods_csv

['parking_csv',
 'usercuisine_csv',
 'restaurants_xlsx',
 'users_xlsx',
 'restaurants_csv',
 'cuisine_csv',
 'users_csv',
 'ratings_csv',
 'hours_csv',
 'userpayment_csv',
 'payment_methods_csv']

In [127]:
reps = vd.reporte_todos_pares_completo(dfs)

for base, rep in reps.items():
    print(rep["summary"])
    display(rep["diffs"])

{'base': 'restaurants', 'csv_shape': (130, 21), 'xlsx_shape': (130, 21), 'same_columns': True, 'equals_pandas': False, 'mismatch_cells': 107, 'note': ''}

     row        col         csv        xlsx
0      1        zip       78280       78280
1      2   latitude   22.149709   22.149709
2      2  longitude -100.976093 -100.976093
3      2        zip       78000       78000
4      3       city   victoria     victoria
..   ...        ...         ...         ...
102  126   latitude   22.149192   22.149192
103  126        zip       78220       78220
104  128   latitude   18.875011   18.875011
105  128  longitude  -99.159422  -99.159422
106  129   latitude   22.135364   22.135364

[107 rows x 4 columns]

{'base': 'users', 'csv_shape': (138, 19), 'xlsx_shape': (138, 19), 'same_columns': True, 'equals_pandas': False, 'mismatch_cells': 173, 'note': ''}

     row        col         csv        xlsx
0      0     smoker       false       False
1      1     smoker       false       False
2      2     smoker       false       False
3      3  longitude     -99.183     -99.183
4      3     smoker       false       False
..   ...        ...         ...         ...
168  134     smoker       false       False
169  135     smoker        true        True
170  136  longitude -100.944623 -100.944623
171  136     smoker       false       False
172  137     smoker       false       False

[173 rows x 4 columns]

In [128]:
dfs_csv = cd.obtener_csvs(dfs)

## Perfilado de DataFrames (CSV)

En esta sección se realiza el **perfilado exploratorio** de todos los DataFrames provenientes de archivos **CSV**, con el objetivo de:
- identificar estructura (filas/columnas),
- revisar distribución y tipo de variables,
- detectar valores faltantes y posibles inconsistencias,
- y documentar la calidad inicial de los datos antes de la integración/modelado.

In [129]:
dfs_perfil = ped.perfilar_todos_los_dfs(dfs_csv)

perfil_all = pd.concat(
    [p.assign(df=name) for name, p in dfs_perfil.items()],
    ignore_index=True
)

cols = ["df","Variable","Tipo_inferido","Dtype","Nulos","%Nulos","Unicos","%Cardinalidad","Min","Max","Media","Moda","Top"]
perfil_all = perfil_all[[c for c in cols if c in perfil_all.columns]]

perfil_all

/var/folders/16/1zxk1z8j1qz87x958_rnc9f80000gn/T/ipykernel_52177/11677862.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  perfil_all = pd.concat(

,df,Variable,Tipo_inferido,Dtype,Nulos,%Nulos,Unicos,%Cardinalidad,Min,Max,Media,Moda,Top
0,users_csv,userID,Texto,object,0,0.0,138,100.00,NaN,NaN,NaN,U1001,"U1001 (1), U1095 (1), U1089 (1), U1090 (1), U1091 (1), U1092 (1), U1093 (1), U1094 (1), U1096 (1), U1104 (1), Otros (128)"
1,users_csv,latitude,Numerica,float64,0,0.0,128,92.75,18.813348,23.771030,21.810389,None,None
2,users_csv,longitude,Numerica,float64,0,0.0,126,91.30,-101.054680,-99.067106,-100.291857,None,None
3,users_csv,weight,Numerica,int64,0,0.0,49,35.51,40.000000,120.000000,64.869565,None,None
4,users_csv,height,Numerica,float64,0,0.0,38,27.54,1.200000,2.000000,1.667536,None,None
5,users_csv,birth_year,Numerica,int64,0,0.0,21,15.22,1930.000000,1994.000000,1984.702899,None,None
6,users_csv,color,Categorica,object,0,0.0,8,5.80,NaN,NaN,NaN,blue,"blue (45), black (21), green (19), red (15), yellow (12), purple (11), white (11), orange (4)"
7,users_csv,dress_preference,Categorica,object,0,0.0,5,3.62,NaN,NaN,NaN,no preference,"no preference (53), formal (41), informal (35), ? (5), elegant (4)"
8,users_csv,interest,Categorica,object,0,0.0,5,3.62,NaN,NaN,NaN,variety,"variety (50), technology (36), none (30), eco-friendly (16), retro (6)"
9,users_csv,religion,Categorica,object,0,0.0,5,3.62,NaN,NaN,NaN,Catholic,"Catholic (99), none (30), Christian (7), Mormon (1), Jewish (1)"
10,users_csv,activity,Categorica,object,0,0.0,5,3.62,NaN,NaN,NaN,student,"student (113), professional (15), ? (7), unemployed (2), working-class (1)"
11,users_csv,ambience,Categorica,object,0,0.0,4,2.90,NaN,NaN,NaN,family,"family (70), friends (46), solitary (16), ? (6)"
12,users_csv,transport,Categorica,object,0,0.0,4,2.90,NaN,NaN,NaN,public,"public (82), car owner (35), on foot (14), ? (7)"
13,users_csv,marital_status,Categorica,object,0,0.0,4,2.90,NaN,NaN,NaN,single,"single (122), married (10), ? (4), widow (2)"
14,users_csv,hijos,Categorica,object,0,0.0,4,2.90,NaN,NaN,NaN,independent,"independent (113), kids (11), ? (11), dependent (3)"
15,users_csv,personality,Categorica,object,0,0.0,4,2.90,NaN,NaN,NaN,hard-worker,"hard-worker (61), thrifty-protector (58), hunter-ostentatious (12), conformist (7)"
16,users_csv,budget,Categorica,object,0,0.0,4,2.90,NaN,NaN,NaN,medium,"medium (91), low (35), ? (7), high (5)"
17,users_csv,smoker,Categorica,object,0,0.0,3,2.17,NaN,NaN,NaN,false,"false (109), true (26), ? (3)"
18,users_csv,drink_level,Categorica,object,0,0.0,3,2.17,NaN,NaN,NaN,abstemious,"abstemious (51), casual drinker (47), social drinker (40)"
19,usercuisine_csv,userID,Texto,object,0,0.0,138,41.82,NaN,NaN,NaN,U1135,"U1135 (103), U1108 (18), U1101 (15), U1016 (14), U1060 (13), U1008 (10), U1004 (9), U1009 (7), U1021 (4), U1045 (4), Otros (133)"
20,usercuisine_csv,Rcuisine,Texto,object,0,0.0,103,31.21,NaN,NaN,NaN,Mexican,"Mexican (97), American (11), Cafeteria (9), Pizzeria (9), Cafe-Coffee_Shop (8), Family (8), Japanese (7), Italian (7), Burgers (6), Chinese (6), Otros (162)"
21,userpayment_csv,userID,Texto,object,0,0.0,133,75.14,NaN,NaN,NaN,U1041,"U1041 (4), U1044 (4), U1116 (3), U1077 (3), U1076 (3), U1086 (3), U1108 (3), U1078 (3), U1069 (2), U1117 (2), Otros (147)"
22,userpayment_csv,Upayment,Categorica,object,0,0.0,5,2.82,NaN,NaN,NaN,cash,"cash (131), bank_debit_cards (22), VISA (17), MasterCard-Eurocard (4), American_Express (3)"
23,ratings_csv,userID,Categorica,object,0,0.0,138,11.89,NaN,NaN,NaN,U1106,"U1106 (18), U1061 (18), U1134 (16), U1024 (15), U1135 (14), U1022 (14), U1089 (14), U1137 (14), U1097 (13), U1112 (13), Otros (1012)"
24,ratings_csv,placeID,Numerica,int64,0,0.0,130,11.20,132560.000000,135109.000000,134192.041344,None,None
25,ratings_csv,rating,Numerica,int64,0,0.0,3,0.26,0.000000,2.000000,1.199828,None,None
26,ratings_csv,food_rating,Numerica,int64,0,0.0,3,0.26,0.000000,2.000000,1.215332,None,None
27,ratings_csv,service_rating,Numerica,int64,0,0.0,3,0.26,0.000000,2.000000,1.090439,None,None
28,restaurants_csv,placeID,Numerica,int64,0,0.0,130,100.00,132560.000000,135109.000000,134012.784615,None,None
29,restaurants_csv,the_geom_meter,Texto,object,0,0.0,130,100.00,NaN,NaN,NaN,0101000020957F000088568DE356715AC138C0A525FC464A41,"0101000020957F000088568DE356715AC138C0A525FC464A41 (1), 0101000020957F000087BEDDE8D24858C1B20CDB33DBA24B41 (1), 0101000020957F000060A98A38FF4758C146718E41D9A44B41 (1), 0101000020957F0000F2F4110CF28157C1DCFD7C1BA04D4941 (1), 0101000020957F000049095EB34A4858C15CB4BD1EE1AB4B41 (1), 0101000020957F00005D19BF45294958C18FF7F8E260A84B41 (1), 0101000020957F0000FE987FAF936D5AC1E1D486215E524A41 (1), 0101000020957F0000942C3434384458C1C2D3499804A74B41 (1), 0101000020957F00000F14BF6B2C8657C1963CCB8E5C464941 (1), 0101000020957F0000B1F935F9FA775AC1D06DFD1017514A41 (1), Otros (120)"
30,restaurants_csv,latitude,Numerica,float64,0,0.0,129,99.23,18.859803,23.760268,21.858863,None,None
31,restaurants_csv,longitude,Numerica,float64,0,0.0,129,99.23,-101.028600,-99.126506,-100.342933,None,None
32,restaurants_csv,name,Texto,object,0,0.0,129,99.23,NaN,NaN,NaN,Gorditas Dona Tota,"Gorditas Dona Tota (2), Kiku Cuernavaca (1), La Cantina Restaurante (1), cafe punta del cielo (1), Little Cesarz (1), tacos los volcanes (1), Cafe Chaires (1), Chilis Cuernavaca (1), Pizzeria Julios (1), El cotorreo (1), Otros (119)"
33,restaurants_csv,address,Texto,object,0,0.0,100,76.92,NaN,NaN,NaN,?,"? (27), Ricardo B. Anaya (3), Av. V. Carranza (2), venustiano carranza (2), Revolucion (1), Himno Nacional 100 Avenida (1), Zaragoza entre Francisco Zarco y Lopez Velarde (1), Emiliano Zapata Col. Tres de Mayo (1), Av. Saan Luis enttre moctezuma y salinas (1), Jesus Goytortua 390 Tangamanga (1), Otros (90)"
34,restaurants_csv,zip,Texto,object,0,0.0,35,26.92,NaN,NaN,NaN,?,"? (74), 78000 (13), 78250 (3), 78269 (3), 78210 (2), 78310 (2), 62290 (2), 78270 (2), 78399 (2), 78421 (2), Otros (25)"
35,restaurants_csv,city,Categorica,object,0,0.0,17,13.08,NaN,NaN,NaN,San Luis Potosi,"San Luis Potosi (64), ? (18), Cuernavaca (15), victoria (10), san luis potosi (5), Jiutepec (4), victoria (2), Soledad (2), Ciudad Victoria (2), Cd Victoria (1), s.l.p. (1), cuernavaca (1), slp (1), san luis potos (1), san luis potosi (1), Cd. Victoria (1), s.l.p (1)"
36,restaurants_csv,url,Categorica,object,0,0.0,14,10.77,NaN,NaN,NaN,?,"? (116), lacantinaslp.com (2), kikucuernavaca.com.mx (1), carlosandcharlies.com (1), lagranvia.com.mx (1), lunacafe.com.mx (1), reyecito.com (1), lostoneles.com.mx (1), eloceanodorado.com (1), chilis.com.mx (1), lasmananitas.com.mx (1), www.cenidet.edu.mx (1), no (1), sushi-itto.com.mx (1)"
37,restaurants_csv,state,Categorica,object,0,0.0,13,10.00,NaN,NaN,NaN,SLP,"SLP (50), Morelos (19), ? (18), San Luis Potosi (14), tamaulipas (9), Tamaulipas (7), san luis potosi (4), slp (2), mexico (2), S.L.P. (2), s.l.p. (1), morelos (1), san luis potos (1)"
38,restaurants_csv,smoking_area,Categorica,object,0,0.0,5,3.85,NaN,NaN,NaN,none,"none (70), not permitted (25), section (24), permitted (9), only at bar (2)"
39,restaurants_csv,country,Categorica,object,0,0.0,3,2.31,NaN,NaN,NaN,Mexico,"Mexico (89), ? (28), mexico (13)"
40,restaurants_csv,alcohol,Categorica,object,0,0.0,3,2.31,NaN,NaN,NaN,No_Alcohol_Served,"No_Alcohol_Served (87), Wine-Beer (34), Full_Bar (9)"
41,restaurants_csv,dress_code,Categorica,object,0,0.0,3,2.31,NaN,NaN,NaN,informal,"informal (118), casual (10), formal (2)"
42,restaurants_csv,accessibility,Categorica,object,0,0.0,3,2.31,NaN,NaN,NaN,no_accessibility,"no_accessibility (76), completely (45), partially (9)"
43,restaurants_csv,price,Categorica,object,0,0.0,3,2.31,NaN,NaN,NaN,medium,"medium (60), low (45), high (25)"
44,restaurants_csv,other_services,Categorica,object,0,0.0,3,2.31,NaN,NaN,NaN,none,"none (119), variety (7), Internet (4)"
45,restaurants_csv,Rambience,Categorica,object,0,0.0,2,1.54,NaN,NaN,NaN,familiar,"familiar (121), quiet (9)"
46,restaurants_csv,franchise,Categorica,object,0,0.0,2,1.54,NaN,NaN,NaN,f,"f (108), t (22)"
47,restaurants_csv,area,Categorica,object,0,0.0,2,1.54,NaN,NaN,NaN,closed,"closed (115), open (15)"
48,restaurants_csv,fax,Categorica,object,0,0.0,1,0.77,NaN,NaN,NaN,?,? (130)
49,parking_csv,placeID,Numerica,int64,0,0.0,675,96.15,132012.000000,135111.000000,133180.945869,None,None
50,parking_csv,parking_lot,Categorica,object,0,0.0,7,1.00,NaN,NaN,NaN,none,"none (348), yes (174), public (102), street (32), fee (22), valet parking (21), validated parking (3)"
51,cuisine_csv,placeID,Numerica,int64,0,0.0,769,83.95,132001.000000,135110.000000,132897.174672,None,None
52,cuisine_csv,Rcuisine,Categorica,object,0,0.0,59,6.44,NaN,NaN,NaN,Mexican,"Mexican (239), International (62), American (59), Dutch-Belgian (55), Italian (42), Greek (33), Bar (32), French (31), Cafe-Coffee_Shop (27), Pizzeria (25), Otros (311)"
53,payment_methods_csv,placeID,Numerica,int64,0,0.0,615,46.80,132002.000000,135110.000000,133218.739726,None,None
54,payment_methods_csv,Rpayment,Categorica,object,0,0.0,12,0.91,NaN,NaN,NaN,cash,"cash (500), MasterCard-Eurocard (194), VISA (172), American_Express (153), bank_debit_cards (130), Visa (83), Diners_Club (42), Discover (11), checks (10), Carte_Blanche (7), gift_certificates (7), Japan_Credit_Bureau (5)"
55,hours_csv,placeID,Numerica,int64,0,0.0,694,29.67,132012.000000,135111.000000,133082.311672,None,None
56,hours_csv,hours,Categorica,object,0,0.0,273,11.67,NaN,NaN,NaN,00:00-23:30;,"00:00-23:30; (681), 00:00-00:00; (100), 17:00-22:00; (56), 14:00-23:30; (32), 09:00-23:30; (31), 11:00-21:00; (31), 11:00-22:00; (30), 08:00-23:30; (30), 12:00-22:00; (29), 12:00-23:30; (24), Otros (1295)"
57,hours_csv,days,Categorica,object,0,0.0,3,0.13,NaN,NaN,NaN,Mon;Tue;Wed;Thu;Fri;,"Mon;Tue;Wed;Thu;Fri; (793), Sat; (783), Sun; (763)"

In [130]:
ped.reporte_relacional(dfs_csv, ratings_key="ratings_csv")

,df,key,rows,unique_keys,min_per_key,max_per_key,mean_per_key,keys_in_universe,pct_keys_in_universe
0,users_csv,userID,138,138,1,1,1.000000,138,1.000000
1,usercuisine_csv,userID,330,138,1,103,2.391304,138,1.000000
2,userpayment_csv,userID,177,133,1,4,1.330827,133,1.000000
3,ratings_csv,userID,1161,138,3,18,8.413043,138,1.000000
4,ratings_csv,placeID,1161,130,3,36,8.930769,130,1.000000
5,restaurants_csv,placeID,130,130,1,1,1.000000,130,1.000000
6,parking_csv,placeID,702,675,1,3,1.040000,130,0.192593
7,cuisine_csv,placeID,916,769,1,9,1.191157,95,0.123537
8,payment_methods_csv,placeID,1314,615,1,8,2.136585,114,0.185366
9,hours_csv,placeID,2339,694,2,12,3.370317,128,0.184438

## Unidad muestral y modelo relacional

A partir del **reporte relacional** (`reporte_relacional`) se identificó que la tabla `ratings_csv` funciona como **tabla de hechos**, ya que contiene directamente las variables de calificación (`rating`, `food_rating`, `service_rating`) y conecta a usuarios y restaurantes mediante las llaves `userID` y `placeID`.

### Evidencia y justificación

- **Tabla de hechos:** `ratings_csv` (1161 filas).
- **Llaves presentes:** `userID` (138 únicos) y `placeID` (130 únicos).
- **Unidad muestral definida:** **1 fila = 1 evaluación** de un usuario (`userID`) a un restaurante (`placeID`).
- **Llave lógica de la evaluación:** (`userID`, `placeID`), y se verificó que **no existen duplicados** para este par, por lo que cada registro representa una evaluación única.

En consecuencia, la base principal para análisis y modelado se construye **partiendo de `ratings_csv`**, preservando su número de filas y, por lo tanto, su unidad muestral.

### Dimensiones analíticas para enriquecer la base

Con el mismo reporte relacional se observó que:
- `users_csv` es **1 a 1** con `userID` (mean_per_key = 1), por lo que puede integrarse directamente a nivel usuario.
- `restaurants_csv` es **1 a 1** con `placeID` (mean_per_key = 1), por lo que puede integrarse directamente a nivel restaurante.
- Otras tablas (`usercuisine_csv`, `userpayment_csv`, `cuisine_csv`, `payment_methods_csv`, `hours_csv`, `parking_csv`) presentan relaciones **1 a muchos** respecto a `userID` o `placeID`, por lo que se transforman previamente mediante **agregaciones** (conteos y listas de categorías) para mantener una sola fila por llave.

Para mantener el notebook legible y robustecer la paquetería, se implementaron funciones que construyen:
- `dim_user` (**usuarios.csv**): tabla analítica a nivel `userID` (1 fila por usuario), integrando `users_csv` y agregados por `userID`.
- `dim_place` (**restaurantes.csv**): tabla analítica a nivel `placeID` (1 fila por restaurante), integrando `restaurants_csv` y agregados por `placeID`.

Finalmente, la **base de modelado** se obtiene realizando `LEFT JOIN` desde `ratings_csv` hacia `dim_user` y `dim_place`, asegurando que el número de filas permanezca en 1161 y que la unidad muestral continúe siendo **la evaluación usuario–restaurante**.

In [131]:
dim_user = an.construir_dim_usuario(dfs_csv)
dim_place = an.construir_dim_restaurante(dfs_csv)
an.exportar_tablas_analiticas(dim_user, dim_place, out_dir="./data")

base = an.construir_base_modelado(dfs_csv, dim_user, dim_place)

## Ingeniería de datos: variables nuevas a nivel de la unidad muestral (`ratings`)

Con la unidad muestral definida como **1 fila = 1 evaluación** (`userID`, `placeID`), se construyeron variables adicionales **derivadas directamente de las calificaciones** de `ratings_csv`. Estas variables se calculan al mismo grano de la unidad muestral (no generan explosión de filas) y buscan capturar:

- La **intensidad promedio** de la evaluación (señal global).
- La **consistencia o discrepancia** entre componentes (comida vs servicio).
- El **contexto del evaluador** (tendencia típica del usuario) y del evaluado (tendencia típica del restaurante), calculados con enfoque *leave-one-out* para no usar la misma observación en su propio promedio.

### Variables creadas (≥ 5) y justificación

- **`subrating_mean`**: resume en una sola señal el nivel promedio entre `food_rating` y `service_rating`, útil para modelos que aprovechan una medida global de calidad.
- **`subrating_gap`**: captura si la evaluación favorece más la comida o el servicio; ayuda a distinguir perfiles donde una dimensión domina a la otra.
- **`subrating_gap_abs`**: mide la consistencia entre comida y servicio; discrepancias grandes pueden indicar experiencias “mixtas” que un promedio no detecta.
- **`user_mean_rating_loo`**: representa la tendencia típica del usuario a calificar alto/bajo (sesgo del evaluador) sin incluir la evaluación actual; permite ajustar por usuarios más exigentes o más complacientes.
- **`place_mean_rating_loo`**: representa la tendencia típica del restaurante a recibir mejores/peores calificaciones sin incluir la evaluación actual; provee un contexto de reputación promedio a nivel `placeID`.

In [132]:
base = an.agregar_features_ratings(base)

cols_new = [
    "subrating_mean",
    "subrating_gap",
    "subrating_gap_abs",
    "user_mean_rating_loo",
    "place_mean_rating_loo",
]
base

,userID,placeID,rating,food_rating,service_rating,latitude,longitude,smoker,drink_level,dress_preference,...,hours_Wed,hours_Thu,hours_Fri,hours_Sat,hours_Sun,subrating_mean,subrating_gap,subrating_gap_abs,user_mean_rating_loo,place_mean_rating_loo
0,U1077,135085,2,2,2,22.156469,-100.985540,False,social drinker,elegant,...,00:00-00:00,00:00-00:00,00:00-00:00,00:00-00:00,00:00-00:00,2.0,0,0,1.250000,1.314286
1,U1077,135038,2,2,1,22.156469,-100.985540,False,social drinker,elegant,...,08:00-17:00,08:00-17:00,08:00-17:00,08:00-17:00,00:00-00:00,1.5,1,1,1.250000,1.173913
2,U1077,132825,2,2,2,22.156469,-100.985540,False,social drinker,elegant,...,09:00-12:00,09:00-12:00,09:00-12:00,09:00-12:00,09:00-12:00,2.0,0,0,1.250000,1.258065
3,U1077,135060,1,2,2,22.156469,-100.985540,False,social drinker,elegant,...,11:30-19:00,11:30-19:00,11:30-19:00,11:30-19:00,11:30-19:00,2.0,0,0,1.500000,1.142857
4,U1068,135104,1,1,2,23.752269,-99.168605,False,casual drinker,informal,...,00:00-23:30,00:00-23:30,00:00-23:30,00:00-23:30,00:00-23:30,1.5,-1,1,0.571429,0.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,U1043,132630,1,1,1,23.771030,-99.167082,False,abstemious,no preference,...,00:00-23:30,00:00-23:30,00:00-23:30,00:00-23:30,00:00-23:30,1.0,0,0,1.000000,1.200000
1157,U1011,132715,1,1,0,23.724972,-99.152856,False,abstemious,no preference,...,09:00-16:00,09:00-16:00,09:00-16:00,09:00-16:00,09:00-16:00,0.5,1,1,1.500000,1.000000
1158,U1068,132733,1,1,0,23.752269,-99.168605,False,casual drinker,informal,...,10:30-22:30,10:30-22:30,10:30-22:30,10:30-22:30,09:00-21:00,0.5,1,1,0.571429,1.333333
1159,U1068,132594,1,1,1,23.752269,-99.168605,False,casual drinker,informal,...,09:30-23:30,09:30-23:30,09:30-23:30,09:00-23:30,09:00-23:30,1.0,0,0,0.571429,0.500000
1160,U1068,132660,0,0,0,23.752269,-99.168605,False,casual drinker,informal,...,00:00-23:30,00:00-23:30,00:00-23:30,00:00-23:30,00:00-23:30,0.0,0,0,0.714286,1.750000

In [133]:
base.shape[1]

66

In [134]:
usercuisine = dfs_csv["usercuisine_csv"] 
users = dfs_csv["users_csv"] 
userpayment = dfs_csv["userpayment_csv"] 
ratings = dfs_csv["ratings_csv"] 
parking = dfs_csv["parking_csv"] 
restaurants = dfs_csv["restaurants_csv"] 
cuisine = dfs_csv["cuisine_csv"] 
payment_methods = dfs_csv["payment_methods_csv"] 
hours = dfs_csv["hours_csv"]

In [135]:
base

,userID,placeID,rating,food_rating,service_rating,latitude,longitude,smoker,drink_level,dress_preference,...,hours_Wed,hours_Thu,hours_Fri,hours_Sat,hours_Sun,subrating_mean,subrating_gap,subrating_gap_abs,user_mean_rating_loo,place_mean_rating_loo
0,U1077,135085,2,2,2,22.156469,-100.985540,False,social drinker,elegant,...,00:00-00:00,00:00-00:00,00:00-00:00,00:00-00:00,00:00-00:00,2.0,0,0,1.250000,1.314286
1,U1077,135038,2,2,1,22.156469,-100.985540,False,social drinker,elegant,...,08:00-17:00,08:00-17:00,08:00-17:00,08:00-17:00,00:00-00:00,1.5,1,1,1.250000,1.173913
2,U1077,132825,2,2,2,22.156469,-100.985540,False,social drinker,elegant,...,09:00-12:00,09:00-12:00,09:00-12:00,09:00-12:00,09:00-12:00,2.0,0,0,1.250000,1.258065
3,U1077,135060,1,2,2,22.156469,-100.985540,False,social drinker,elegant,...,11:30-19:00,11:30-19:00,11:30-19:00,11:30-19:00,11:30-19:00,2.0,0,0,1.500000,1.142857
4,U1068,135104,1,1,2,23.752269,-99.168605,False,casual drinker,informal,...,00:00-23:30,00:00-23:30,00:00-23:30,00:00-23:30,00:00-23:30,1.5,-1,1,0.571429,0.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,U1043,132630,1,1,1,23.771030,-99.167082,False,abstemious,no preference,...,00:00-23:30,00:00-23:30,00:00-23:30,00:00-23:30,00:00-23:30,1.0,0,0,1.000000,1.200000
1157,U1011,132715,1,1,0,23.724972,-99.152856,False,abstemious,no preference,...,09:00-16:00,09:00-16:00,09:00-16:00,09:00-16:00,09:00-16:00,0.5,1,1,1.500000,1.000000
1158,U1068,132733,1,1,0,23.752269,-99.168605,False,casual drinker,informal,...,10:30-22:30,10:30-22:30,10:30-22:30,10:30-22:30,09:00-21:00,0.5,1,1,0.571429,1.333333
1159,U1068,132594,1,1,1,23.752269,-99.168605,False,casual drinker,informal,...,09:30-23:30,09:30-23:30,09:30-23:30,09:00-23:30,09:00-23:30,1.0,0,0,0.571429,0.500000
1160,U1068,132660,0,0,0,23.752269,-99.168605,False,casual drinker,informal,...,00:00-23:30,00:00-23:30,00:00-23:30,00:00-23:30,00:00-23:30,0.0,0,0,0.714286,1.750000

In [136]:
base.to_csv("base.csv", index=False)